/* ---------------------- Limpar formatações padrão -------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;1,300&display=swap');

* {
    margin:0;
    padding: 0;
}

body{
    background-image: url(imagens/gesso.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Merriweather', serif;
    text-align: justify;
}

h1{
    font-size: 300;
}
h2{
    font-size: 700;
}

h3{
    font-size: 700;
}

/* ---------------------- Barra de Navegação -------------------------*/

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1.125rem 0 1.125rem 0;

}

header h1{
    text-transform: uppercase;
}
#area-logo{
    padding-right: .625rem;
}

nav {
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(90, 90, 90, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin: 8px;
}

nav a {
    text-decoration: none ;
    color:black;
}

nav a:hover{
    text-decoration: underline;
}


/* ---------------------- Estilização main -------------------------*/

.area-principal{
    /*background-color:blanchedalmond ;*/
    max-width: 60rem;
    gap: 1em;
    border: black 5px solid;
}

.primario {
    grid-area: primario;
    border: black 5px solid;
    background-color: #777
}

.secundario {
    grid-area: secundario;
    border: black 5px solid;
    background-color: #777
}

.lateral{
    border: black 5px solid;
    background-color: aqua;
    grid-area: lateral;
}

.tabelas{
    border: black 5px solid;
    grid-area: tabelas;
    background-color: #777
}

article{
    background-color: white;
}
/* ---------------------- Estilização Footer -------------------------*/

footer {
    background-color: #ebebeb;
    text-decoration: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: blue 1px solid;
    width: 100v;
    gap: 1.25rem;
}

.footerInfo{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 18px;
    border: black 1px solid;
}

.content1, .content2, .content3{
    border: black 1px solid;
}

.content1{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#rodape {
    font-size:0.7rem;
    text-align: center;
    border:red 1px solid;
}
footer ul{
    list-style-type: none;
}

footer li {
    text-decoration: none;
    margin-bottom: 0.1em;
}

footer a {
    text-decoration: none;
    color:black;
}

footer a:hover{
    text-decoration: underline;
}

.mailButton{
width: 100px;
height: 30px;
}

.content1 input{
    width: 200px; 
}

/* -------------------- Formatação login --------------------*/

.login{
    max-width:30rem;
}

/* Borda no formulário*/
form {
    border: .1875rem solid #f1f1f1;
}

  /* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: .75rem 1.25rem;
    margin: .5rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

  /* Estilização button */
.loginButton {
    background-color: #A9A9A9;
    color: black;
    text-transform: uppercase;
    padding: .875rem 1.25rem;
    margin: 8px 0;
    border-radius: .1875rem;
    border-color: #A9A9A9;
    cursor: pointer;
    width: 100%;
}

  /* Efeito hover button */
button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 1.5rem 0 .75rem 0;
}