/*Limpar formatações padrão*/

* {
    margin:0;
    padding: 0;
}

body{
    background-image: url(imagens/gesso.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Barra de navegação */

#nav-menu ul {
    list-style-type: none;
    padding: 0;
}

#nav-menu li {
    display: inline;
}

#nav-menu a {
    text-decoration: none;
}

#nav-menu a:hover{
    text-decoration: underline;
}

/* Barra de footer */

#contato a {
    text-decoration: none;
}

#contato a:hover{
    text-decoration: underline;
}
