@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,500;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(img/portfolio-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Merriweather', serif;
    height: 100dvh;
    display: flex;
    justify-content: center;
    font-family: 'Karla', sans-serif;
}

h1, h2{
    text-align: center;
}

/* área central */

#container{
    width: 80%;
    display: flex;
    border: black .0625rem solid;
}

main{
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

section{
    background-color:#0BA5DE;
    border: black .0625rem solid;
    box-sizing: border-box;
    border-radius: 0.5em;
    padding: 1.25rem 3.75rem 2.5rem 3.75rem;
    text-align: justify;
    overflow: hidden;
}

.box3 #group-card{
    min-height: 43.75rem;
    display: flex;
}

/* Estilização barra lateral */

aside{
    display: flex;
    justify-content: center;
    border: black .0625rem solid;
    background-color:#0B39DE;
    margin: .125rem;
}

.perfil{
    margin: .625rem;
    border: black .0625rem solid;
    overflow: hidden;
}

.perfil p {
    color: white;
    margin-top: 10px;
}

.img{
    border: white 5px solid;
    border-radius: 40em;
    width: 15.625rem;
}

/* Estilização Whatsapp icon */

.whatsapp{
    position: fixed;
    right: 12.5rem;
    z-index: 9999;
}


