@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;800&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(224,224,224);
    background: radial-gradient(circle, rgba(224,224,224,1) 0%, rgba(246,248,251,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Merriweather', serif;
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content: center;
}

h1, h2{
    text-align: center;
}

/* área central */

#container{
    display: flex;
    height: 100dvh;
    width: 100%;
    max-width: 1080px;
    gap: 8px;
    padding: 4rem;
    /* border: black .0625rem solid; */
}

main{
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

section{
    background-color: #f6f8fb;
    border: rgba(207, 206, 206, 0.932) .0625rem solid;
    box-sizing: border-box;
    border-radius: 0.5em;
    padding: 1.25rem 3.75rem 2.5rem 3.75rem;
    text-align: justify;
    overflow: hidden;
}

section h1{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .125rem;
    margin-bottom: 24px;
}

section p{
    font-size: .875rem;
}

section ul{
    font-size: .875rem;
    display: flex;
    flex-direction: column;
    border: black .0625rem solid;
}

#group-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}
/* Estilização sidebar */

#sidebar{
    width: 320px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0.5em;
    align-items: center;
    padding: 24px;
    gap: 16px;
    border: rgba(207, 206, 206, 0.932) .0625rem solid;
    background-color: #f6f8fb;
    margin: .125rem;
}

.perfil{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4px;
}

.perfil h1{
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing: -0.5008px;
}
.perfil p{
    font-size: 17.6px;
    font-weight: 300;
}

#sidebar ul{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.img{
    border-radius: 40em;
    width: 15.625rem;
}

/* Estilização Whatsapp icon */

.whatsapp{
    position: fixed;
    wi
}


